DB_SERVER=db
DB_NAME=GreenVendorDb
DB_PORT=1433
DB_HOST_PORT=1435
MSSQL_SA_PASSWORD=Change_this_strong_Password123
ACCEPT_EULA=Y

JWT_SECRET=Change_this_To_A_Longs_Random_Secret_At_Least_32_Chars
JWT_ISSUER=GreenVendor
JWT_AUDIENCE=GreenVendorBackend
JWT_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7