.site-nav {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 12px 16px;
}

.nav-link {
    color: #02f3a2;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 4px;
    display: inline-block;
}

.nav-link:hover {
    background: rgba(42, 254, 0, 0.545);
}

.nav-link.active {
    font-weight: 700;
    text-decoration: underline;
    color: #21b300
}
